*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
}

img{
    width: 100%;
    border-radius: 1rem;
}

.container{
    background-color: hsl(216, 50%, 16%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 85%;
    padding: 1.5rem;
    border-radius: 1rem;
}

h2{
    color: hsl(0, 0%, 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1.5rem;
}

p, .days{
    color: hsl(215, 51%, 70%);
}

.eth{
    color: hsl(178, 100%, 50%);
}

p{
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding-top: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock{
    padding-top: 0.1rem;
}
.diamond{
    padding-top: 1px;
}

hr {
    display: block;
    border: 0;
    border-top: 1px groove #ccc;
    margin: 1em auto;
    padding: 0;
}

.author-pic{
    width: 15%;
}

.creator-info{
    padding-left: 1rem;
}
.author{
    display: flex;
}

.name{
    color: hsl(0, 0%, 100%)
}

.name:hover, 
.name:focus,
h2:hover,
h2:focus{
    color: cyan;
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}

@media (max-width: 360px)
{
    body{
        min-width: 275px;
    }

    ul{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .author-pic{
        object-fit: contain;
    }
}

@media (min-width: 470px) and (max-width: 700px)
{
    .container{
       width: 75%;
    }
}

@media (min-width: 701px)
{
    .container{
       width: 60%;
       margin-bottom: 5rem;
    }

    body{
        max-width: 501px;
        margin-left: auto;
        margin-right: auto;
    }
}
